<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Incidium</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="Header">
    <a href="/" id="Title">Incidium</a>
    <img id="Logo" src="/assets/logoreal.png" width="70" height="70">
    <a href="/login" id="Login"><b>Login</b></a>
    </div>
    <button onclick="examine(1)" class="nft" id="NFT1">
      <img class="nftImg" src="/assets/nft1.png">
      <div class="nftTitle">Yellow Cube</div>
      <div class="nftPrice">$100000</div>
    </button>  
    <button onclick="examine(2)" class="nft" id="NFT2">
      <img class="nftImg" src="">
      <div class="nftTitle">Pyramid</div>
      <div class="nftPrice">$1000</div>
    </button>  
    <button onclick="examine(3)" class="nft" id="NFT3">
      <img class="nftImg" src="/assets/lambo.png">
      <div class="nftTitle">Lamborghini</div>
      <div class="nftPrice">$1000000</div>
    </button>  
    <button onclick="examine(4)" class="nft" id="NFT4">
      <img class="nftImg" src="">
      <div class="nftTitle">Sphere</div>
      <div class="nftPrice">$2</div>
    </button>  
    <button onclick="examine(5)" class="nft" id="NFT5">
      <img class="nftImg" src="">
      <div class="nftTitle">Rocket</div>
      <div class="nftPrice">$103450</div>
    </button>  
    <button onclick="examine(6)" class="nft" id="NFT6">
      <img class="nftImg" src="assets/duck.jpg">
      <div class="nftTitle">Duck</div>
      <div class="nftPrice">$100000000000</div>
    </button>  
    <script src="/js/script.js"></script>
    <script type="text/javascript" src="user.json"></script>
  </body>
</html>