<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Incidium</title>
    <link rel="shortcut icon" type="image/png" href="/assets/logoreal.png"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="Header">
    <a href="/" id="Title">Incidium</a>
    <img id="Logo" src="/assets/logoreal.png" width="70" height="70">
    
    </div>
    <p id="usernameLabel">Username:</p>
    <p id="passwordLabel">Password:</p>
    <input id="username"></input>
    <input type="password" id="password"></input>
    <button href="" id="login" onclick="login();">Log in</button>
    <a href="/signup" id="help">Don't have an account? Signup</a>
    <script src="/js/login.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>