<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Incidium</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="Header">
    <div id="Title">NFT List</div>
    <!--When you click on nft "snapshot" to get to this page, it will save nft name in local storage-->
    <img id="Logo" src="/assets/logoreal.png" width="70" height="70">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.js"></script>
    <script src="/js/nft.js"></script>
  </body>
</html>