
#Title{
 position: absolute;
 left:4.5%;
 top:23%;
 font-size:50px;
 color:black;
 text-decoration:none;
}
#Logo{
  z-index:1;
  position: absolute;
  left:0.5%;
  top:18%;
}
body{
  font-family: 'Raleway', sans-serif;
}
#Header{
  z-index: 9999;
  width:100%;
  height:10%;
  position: fixed;
  left:0%;
  top:0%;
  animation-duration:1.5s;
  animation-name:a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: top 0.3s;
  background-color:white;
}
#Login{
  position: absolute;
  text-decoration:none;
  left:93%;
  width:100px;
  top:25%;
  height:50px;
  font-size:20px;
  border:2px solid rgb(52, 137, 235);
  display: flex;
  justify-content:center;
  align-items:center;
  color:white;
  background-color:rgb(52, 137, 235);
  border-radius:5px;
  padding-left: 6px;
  padding-right: 6px;
  transition: 0.5s all;
}
#Login:after {
  content: '❯';
  position: absolute;
  opacity: 0;  
  top: 13px;
  right: -20px;
  transition: 0.5s;
}

#Login:hover:after {
  opacity: 1;
  right: 12px;
}
#Pitch{
  width:50%;
  height:30%;
  position: absolute;
  left:10%;
  top:30%;
  font-size:150px;
  display: flex;
  justify-content:center;
  align-items:center;
  animation-duration:1.5s;
  animation-delay:0.5s;
  animation-name:a;
  animation-fill-mode:both;
  z-index:-10;
}
#SubPitch{
  width:40%;
  height:30%;
  position: absolute;
  left:10%;
  top:55%;
  font-size:25px;
  display: flex;
  justify-content:center;
  align-items:center;
  animation-duration:1.5s;
  animation-delay:0.5s;
  animation-name:b;
  animation-fill-mode:both;
}
#Lambo{
  position: absolute;
  left:60%;
  top:20%;
  border-radius:10px;
  animation-duration:1.5s;
  animation-delay:0.5s;
  animation-name:a;
  animation-fill-mode:both;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.5s all;
}
#Explore{
  position: absolute;
  text-decoration:none;
  left:26.5%;
  text-align: center;
  width:100px;
  top:75%;
  height:50px;
  font-size:20px;
  border:2px solid rgb(52, 137, 235);
  display: flex;
  justify-content:center;
  align-items:center;
  color:white;
  background-color:rgb(52, 137, 235);
  border-radius:5px;
  transition: 0.5s all;
  animation-duration:1.5s;
  animation-delay:0.5s;
  animation-name:b;
  animation-fill-mode:both;
  padding-left: 16px;
  padding-right: 16px;
}
#Explore:hover{
  filter:brightness(120%);
  padding-right: 24px;
  padding-left:8px;
  transform:scale(1.05);
}
#Login:hover{
  filter:brightness(120%);
  padding-right: 9px;
  padding-left:3px;
  transform:scale(1.05);
}


#Explore:after {
  content: '❯';
  position: absolute;
  opacity: 0;  
  top: 13px;
  right: -20px;
  transition: 0.5s;
}

#Explore:hover:after {
  opacity: 1;
  right: 15px;
}
.nft{
  width:300px;
  height:400px;
  border:3px solid transparent;
  position:absolute;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius:10px;
  transition: 0.2s all;
}
.nft:hover{
  transform: translateY(-5px);
}
#NFT1{
  left:20%;
  top:15%;
}
#NFT2{
  left:40%;
  top:15%;
}
#NFT3{
  left:60%;
  top:15%;
}
#NFT4{
  left:20%;
  top:65%;
}
#NFT5{
  left:40%;
  top:65%;
}
#NFT6{
  left:60%;
  top:65%;
}
.nftImg{
  width:300px;
  height:300px;
  z-index:0;
  position: relative;
  right:3.2%;
  bottom:12.6%;
  border-radius:10px;
}

.nftTitle{
  
  //border-top:3px solid black;
  width:100%;
  height:50px;
  position: absolute;
  top:300px;
  left:0px;
  display: flex;
  justify-content:center;
  align-items:center;
  font-size:35px;
  font-family: 'Raleway', sans-serif;

}
.nftPrice{
  
  width:100%;
  height:50px;
  position: absolute;
  top:350px;
  left:0px;
  display: flex;
  justify-content:center;
  align-items:center;
  font-size:35px;
  font-family: 'Raleway', sans-serif;
}
#About{
  top:105%;
  left:0%;
  font-size:70px;
  position:absolute;
  width:100%;
  height:10%;
  display: flex;
  justify-content:center;
  align-items:center;
}

#Info{
  top:150%;
  left:20%;
  
  font-size:50px;
  position:absolute;
  display: flex;
  justify-content:center;
  align-items:center;
}
.box{
  top:120%;
  
  position:absolute;
  display: flex;
  justify-content:center;
  align-items:center;
  border:3px solid black;
  width:20%;
  height:30%;
  border-radius:10px;
}
#box1{
  left:15%;
}
#box2{
  left:40%;
}
#box3{
  left:65%;
}

.subheading{
  top:0%;
  right:0%;
  width:100%;
  height:30%;
  position:absolute;
  display: flex;
  justify-content:center;
  align-items:center;
  
  font-size:40px;
  border-bottom:3px solid black;
}
.desc{
  top:30%;
  right:0%;
  width:100%;
  height:70%;
  position:absolute;
  display: flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-size:25px;
  
}



